body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
}
h2 {
    margin: 30px 0px 10px 35px;
}
.searchContainer {
    background: url(../images/top-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}


input#searchUser {
    background-color: white;
    opacity: .50;
}


.profileContainer {
    background-color: white;
    margin: 5px 20px;
    padding: 20px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
}

.avatar img{
    max-width: 80%;
    border-radius: 100px;
}
.favatar img{
    max-width: 39px;
    max-height: 39px;
    float: left;
    padding: 3px;
}

.loader{
    max-width: 50px;
    max-height: 50px;
    display: block;
    margin: 0 auto;
}

.label-primary {
    cursor: pointer;
}